{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listings</h2>
    <form action="{% url 'create' %}" method="post" class="col-10 ">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control"  name="title" required >
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description" rows="10"></textarea>
        </div>
        <div class="form-group">
            <label for="starting_bid">Starting Bid</label>
            <input type="number" class="form-control"  name="starting_bid" required>
        </div>
        <label for="category">Category</label>
        <div class="form-group row ">
            <div class="col-4">
            <select class="form-control" name="category" multiple>
            <option value=""></option>
               {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
            </div>
            <div class = 'col-2'>   
            <a href="{% url 'new_category' %}" class="btn btn-primary">New Category</a>

            </div>
        </div>
        <div class="form-group">
            <label for="image_url">Image URL</label>
            <input type="text" class="form-control" id="image_url" name="image_url">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create Listing</button>
        </div>

        </form>
        
        {% if error %}
        
        <div class="alert alert-danger" role="alert">
        
            {{ error }}

        </div>
        {% endif %}
       
    
{% endblock %}