{% extends "auctions/layout.html" %}

{% block body %}

    <div class = col>
        <div class = row-4>
            <h4>Listing: {{ auction.title }}</h4>
            {% if user.is_authenticated and status is False %}
            <a href="{% url 'watchlist' auction.id %}" class="btn btn-secondary btn-sm" role="button">Add to Watchlist</a>
            {% elif user.is_authenticated and status is True %}
            <a href="{% url 'watchlist' auction.id %}" class="btn btn-secondary btn-sm" role="button">Remove from Watchlist</a>
            {% endif %}
            <br>
            <br>
            {% if auction.image_url %}
            
            <img src="{{ auction.image_url }}" alt="image" class="img-fluid" style="width: 400px; height: 400px;">
            {% else %}
            <img src="https://t3.ftcdn.net/jpg/01/38/48/40/360_F_138484065_1enzXuW8NlkppNxSv4hVUrYoeF8qgoeY.jpg" alt="image" class="img-fluid" style="width: 300px; height: 300px;">
            {% endif %}


        </div>
        <div class = row-8>
           <br>

            <span><strong>Current Price:</strong> ${{ auction.starting_bid }}</span>
            <br>
            {% if user.is_authenticated %}
            <form action="{% url 'bid' auction.id %}" method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="bid">2 bids so far: last bider  </label>
                    {% if bidder_name is None  %}
                    <strong>None</strong>
                    <input type="number" class="form-control"  name="current_bid" required>
                    {% else %}
                    <strong>{{ bidder_name }}</strong>
                    <input type="number" class="form-control"  name="current_bid" required>
                    {% endif %}
                    
              
                
            </div>
            <div class = "form-group">
                <button type="submit" class="btn btn-primary">Place Bid</button>
            </div>
        
        </form>
        {% endif %}
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}
          
        
            <br>
            <p>{{ auction.description }}</p>
            <br>
            <Details>
                <ul>

            
                    <li><small>Created at:{{ auction.created_at }} </small></li>
                    {% if auction.category %}
                    <li><small>Category: {{ category }}</small></li>
                    {% else %}
                    <li><small>Category: None</small></li>
                    {% endif %}
                    
        
                    
                    <li><small>Created by:{{ auction.created_by }} </small></li>
                </ul>
            </Details>
           
        </div>
            


{% endblock %}